@page "/telerikMap"

<TelerikMap Center="@Center"
            MinZoom="3"
            Zoom="4">
    <MapLayers>
        <MapLayer Type="@MapLayersType.Tile"
                  Attribution="@Attribution"
                  Subdomains="@Subdomains"
                  UrlTemplate="@UrlTemplate">
        </MapLayer>

        <MapLayer Type="@MapLayersType.Marker"
                  Data="@MarkerData"
                  LocationField="@nameof(MarkerModel.LatLng)"
                  TitleField="@nameof(MarkerModel.Address)">
            <MapLayerMarkerSettings>
                <MapLayerMarkerSettingsTooltip>
                    <Template>
                        @{
                            var dataItem = context.DataItem as MarkerModel;
                        }

                        <div>@dataItem.Address</div>
                    </Template>
                </MapLayerMarkerSettingsTooltip>
            </MapLayerMarkerSettings>
        </MapLayer>
    </MapLayers>
</TelerikMap>

@code {
    public string[] Subdomains { get; set; } = new string[] { "a", "b", "c" };
    public string UrlTemplate { get; set; } = "https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png";
    public string Attribution { get; set; } = "&copy; <a href='https://osm.org/copyright'>OpenStreetMap contributors</a>";
    public double[] Center { get; set; } = new double[] { 30.268107, -97.744821 };

    public List<MarkerModel> MarkerData { get; set; } = new List<MarkerModel>()
    {
        // North America
        new MarkerModel()
        {
            LatLng = new double[] { 42.4906, -71.2760 },
            Address = "Bedford, MA",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 47.6062, -122.3321 },
            Address = "Seattle, WA",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 43.0731, -89.4012 },
            Address = "Madison, WI",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 34.0754, -84.2941 },
            Address = "Alpharetta, GA",
        },

        // South America
        new MarkerModel()
        {
            LatLng = new double[] { -23.5558, -46.6396 },
            Address = "Sao Paulo, Brazil",
        },

        // Europe
        new MarkerModel()
        {
            LatLng = new double[] { 42.6977, 23.3219 },
            Address = "Sofia, Bulgaria",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 40.4319, -3.6649 },
            Address = "Madrid, Spain",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 52.6638, -8.6267 },
            Address = "Limerick, Ireland",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 45.4720, 9.1920 },
            Address = "Milan, Italy",
        },

        // Asia
        new MarkerModel()
        {
            LatLng = new double[] { 12.9662, 77.6068 },
            Address = "Bangalore, India",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 28.5347, 77.2602 },
            Address = "New Delhi, India",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 35.6500, 139.7307 },
            Address = "Tokyo, Japan",
        },
        new MarkerModel()
        {
            LatLng = new double[] { 1.2833, 103.8496 },
            Address = "Singapore, Singapore",
        },

        // Australia
        new MarkerModel()
        {
            LatLng = new double[] { -37.8152, 144.9639 },
            Address = "Melbourne, Australia",
        },
    };

    public class MarkerModel
    {
        public double[] LatLng { get; set; }
        public string Address { get; set; }
    }
}